@font-face {
    font-family: "Moonbeam";
    src: url("fonts/moonbeam-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Metropolis Bold";
    src: url("fonts/Metropolis-Bold.otf") format("opentype");
}


:root {
    --accent: #006310;
    --accent-dark: #008a49;
    --bg: #002c07;
    --card: #006e21;
    --text: #d1d1d1;
    --border: #d7e1e7;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: var(--bg);
    color: var(--text);
    font-family: system-ui, sans-serif;
    line-height: 1.6;
}

.site-header {
    text-align: center;
    padding: 4rem 1rem;
    background: rgb(17, 17, 17);
    border-top: 6px solid var(--accent);
}

.site-header h1 {
    font-family: "Metropolis Bold";
    margin: 0;
    color: var(--accent-dark);
    font-size: 2.2rem;
    margin-top: 0;
    margin-bottom: 0;
}

.site-header p {
    font-style: italic;
    color: var(--text);
    margin-top: 0;
    margin-bottom: 0;
}

main {
    max-width: 900px;
    margin: 3rem auto;
    padding: 0 1rem;
}

.release {
    background: var(--card);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 3px 15px rgba(0,0,0,.05);
}

.release img {
    width: 100%;
    display: block;
}

.release-content1 {
    padding: 1rem;
}

.release h2 {
    font-family: "Moonbeam";
    font-size: 36;
    margin-top: -12px;
    margin-bottom: -10px;
    color: var(--text);
}

.release p {
    font-style: italic;
    margin-top: 0;
    color: var(--text);
}
.player {
    margin-top: 1.0rem;
}

footer {
    text-align: center;
    padding: 3rem 1rem;
    color: #dadada;
}
